set timeout=10
set default=0

insmod part_msdos
insmod ext2
insmod fat
insmod font
insmod iso9660
insmod loopback
insmod regexp

set root=(hd0,gpt3)

if loadfont $prefix/fonts/unicode.pf2 ; then
    insmod efi_gop
    insmod efi_uga
    insmod all_video
    insmod gfxterm
    set gfxmode=auto
    set lang=ru_RU.UTF-8
    insmod gettext
    terminal_output gfxterm
fi

submenu "Загрузка с образа диска (ISO Boot Menu)" {
    for file in /iso/*.iso; do
        submenu "$file" {
            set file="$1"
            menuentry "Boot ISO without GUI -> $file" "$file" {
                set isofile="$2"
                echo "Loading ISO $isofile"
                loopback loop $isofile
                insmod (loop)/boot/grub/i386-efi/efi_uga.mod
                insmod (loop)/boot/grub/i386-efi/efi_gop.mod
                insmod (loop)/boot/grub/x86_64-efi/efi_uga.mod
                insmod (loop)/boot/grub/x86_64-efi/efi_gop.mod

                if [ -f (loop)/install.amd/vmlinuz ]; then
                    linux (loop)/install.amd/vmlinuz boot=install iso-scan/filename=$iso_path quiet
                    initrd (loop)/install.amd/initrd.gz
                fi

                if [ -f (loop)/hd-media/vmlinuz ]; then
                    linux (loop)/hd-media/vmlinuz boot=install iso-scan/filename=$iso_path quiet
                    initrd (loop)/hd-media/initrd.gz
                fi
            }

            menuentry "Boot ISO GUI -> $file" "$file" {
                set isofile="$2"
                echo "Loading ISO $isofile"
                loopback loop $isofile
                insmod (loop)/boot/grub/i386-efi/efi_uga.mod
                insmod (loop)/boot/grub/i386-efi/efi_gop.mod
                insmod (loop)/boot/grub/x86_64-efi/efi_uga.mod
                insmod (loop)/boot/grub/x86_64-efi/efi_gop.mod

                if [ -f (loop)/hd-media/gtk/vmlinuz ]; then
                    linux (loop)/hd-media/gtk/vmlinuz boot=install iso-scan/filename=$iso_path quiet
                    initrd (loop)/hd-media/gtk/initrd.gz
                fi
            }

            menuentry "SZI AMBER" {
            set isofile="$2"
            echo "Loading ISO $isofile"
            loopback loop $isofile
            insmod (loop)/boot/grub/i386-efi/efi_uga.mod
            insmod (loop)/boot/grub/i386-efi/efi_gop.mod
            insmod (loop)/boot/grub/x86_64-efi/efi_uga.mod
            insmod (loop)/boot/grub/x86_64-efi/efi_gop.mod

            if [ -f (loop)/isolinux/vmlinuz ]; then
                linux (loop)/isolinux/vmlinuz boot=live iso-scan/filename=$iso_path quiet
                initrd (loop)/isolinux/initrd.img
                boot
            fi


            }


        }
    done

    menuentry "Запуск с пользовательскими параметрами (Custom path to kernel and initrd)" {
        echo "===== Список доступных разделов ====="
        ls
        echo "====================================="
        echo "Введите путь к ISO-файлу (например (hd0,msdos3)/iso/ubuntu-22.04.iso ):"

        read iso_path
        echo "удаляем предыдущее loop-устройство"
        loopback -d loop

        echo "создаем Loopback устройство из ISO..."
        loopback loop $iso_path

        echo "содержимое корня ISO (для справки)"
        ls (loop)/

        echo "---------------------------------------------"

        echo "Введите путь к vmlinuz (пример /hd-media/vmlinuz):"
        set vmlinuz_patch=""
        read vmlinuz_patch

        echo "Введите путь к initrd (пример /hd-media/initrd.gz):"
        set initrd_path=""
        read initrd_path

        echo "Введите параметры запуска ядра (не обязательно):"
        set kernel_params=""
        read kernel_params

        linux (loop)$vmlinuz_patch $kernel_params
        initrd (loop)initrd_path

        echo "Загрузка..."
        boot
    }
}

if [ -f $prefix/memtest86+/boot/memtest86+x64.bin ]; then
    menuentry "Проверка памяти (memtest86)" {
    linux16 $prefix/memtest86+/boot/memtest86+x64.bin
}
fi

menuentry "Выключение (shutdown)" {
    halt
}

menuentry "Перезагрузка (reset)" {
    reboot
}
